# commands
invoke==2.2.0

# pre-commit
pre-commit==4.1.0

# testing
pytest==9.0.3
coverage==7.8.0
httpx==0.28.1
httpx2==2.3.0
locust==2.44.1

# linting
ruff==0.11.13
mypy==1.19.1

# docs
mkdocs-material==9.7.1
mkdocstrings-python==2.0.1

# cloud
dvc
dvc-gdrive
dvc-gs
google-cloud-aiplatform
